@charset "UTF-8"; /* CSS Document */

/*
Name: Main CSS Styles
Created: March 30, 2020
Updated: April 2, 2020
Author: Mike Marin
*/

/* ===== BUTTON PADDING & STYLING ===== */

.button-01 {
  display: inline-block;
  text-align: center;
  background-color: var(--clr-dark-accent);
  border: 2px solid var(--clr-btn-outline);
  border-radius: 15px;
  color: var(--clr-light-text);
  padding: .75em 0;
  margin: 0 .5em;
  width: 250px;
}

/* ===== SECTION DIVIDERS ===== */

.section-divider {
  text-align: center;
  padding: .5em 0;
  background-color: var(--clr-medium-primary);
}

/* ===== PANEL PADDING & STYLING ===== */

.panel-case {
  background-color: var(--clr-bkg-panel);
  border: 1px solid var(--clr-bkg-panelborder);
} /* Panel Case-Study Styling */

.panel-bullets {
  padding: 1.5em 1.25em 1.5em 2.25em;
} /* Panel Bullets Padding*/

/* ===== SECTION STYLING ===== */

section.cs-specification, section.cs-problem-solution, section.cs-project-brief, section.cs-user-survey, section.cs-user-stories, section.cs-content-strategy, section.cs-usability-test-01, section.cs-style-guide, section.cs-preference-testing, section.cs-developer-handoff {
  background-color: var(--clr-bkg-white);
  border: 1px solid var(--clr-bkg-secborder);
} /* White BKG / Grey Outline */

section.cs-design-process, section.cs-competitive-analysis, section.cs-user-personas, section.cs-user-flows, section.cs-sketches-wireframes, section.cs-brand-identity, section.cs-high-fidelity-mockup, section.cs-usability-test-02, section.cs-conclusion {
  background-color: var(--clr-bkg-offwhite);
  border: 1px solid var(--clr-bkg-secborder);
} /* Off-White BKG / Grey Outline */

.cs-section-image-01, .cs-user-flows-image, .cs-content-strategy-image, .cs-sketches-wireframes-image, .cs-usability-test-01-image, .cs-brand-identity-image, .cs-high-fidelity-mockup-image, .cs-usability-test-02-image, .cs-section-image-02 {
  border: 1px solid var(--clr-bkg-secborder);
} /* BORDER ON BANNER IMAGES */


/* ===== CASE STUDY - PROJECT 01 ===== */


/* -- 01: SYNOPSIS HERO -- */

.cs-synopsis img {
  width: 275px;
} /* Foodle Logo Size */

.cs-synopsis {
  height: 55vh;
  background-image: url('../images/foodle/backgrounds/BKG-Foodle-AppHero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Foodle BKG Hero */

.cs-synopsis .container-half-a,
.cs-synopsis .container-half-b {
  height: 53vh;
}


/* -- 02: SPECIFICATION -- */

section.cs-specification .wrapper {
  padding: 3em 6em;
}/* Section Padding Specifications */

.cs-specification .container-third {
  width: 15em;
}


/* -- 03: OVERVIEW -- */

section.cs-overview .wrapper {
  padding: 4em 10em;
}/* Section Padding Specifications */

.cs-overview .inner {
  padding-left: 10em;
}

.cs-overview {
  background-image: url('../images/foodle/backgrounds/BKG-Overview-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 04: PROBLEM SOLUTION -- */

section.cs-problem-solution .wrapper {
  padding: 2em 0;
}/* Section Padding Specifications */

.cs-problem, .cs-solution {
  padding: 2em 2em;
}


/* -- 05: IMAGE BANNER 01 -- */

.cs-section-image-01 {
  height: 30vh;
  background-image: url('../images/foodle/backgrounds/BKG-SectionImage-01-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 06: DESIGN PROCESS -- */

section.cs-design-process .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-design-process img {
  height: 100px;
} /* Foodle Logo Size */

.cs-design-process .panel-heading {
  height: 4em;
}


/* -- 07: PROJECT BRIEF -- */

section.cs-project-brief .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */


/* -- 08: COMPETITIVE ANALYSIS -- */

section.cs-competitive-analysis .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-competitive-analysis .panel-image {
  padding: 1em 0;
  background-color: var(--clr-bkg-white);
  border: 1px solid var(--clr-bkg-panelborder);
}

.cs-competitive-analysis h4 {
  padding: .25em 0;
}

.cs-competitive-analysis .panel-group {
  width: 37em;
  padding: 1.5em 1.5em;
}

.cs-competitive-analysis img {
  height: 100px;
  object-fit: contain;
}


/* -- 09: USER SURVEY -- */

section.cs-user-survey .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */


/* -- 10: USER PERSONAS -- */

section.cs-user-personas .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-user-personas .panel-case {
  padding: 2em 2em;
}


/* -- 11: USER STORIES -- */

section.cs-user-stories .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-user-stories .container-paragraph-b {
  padding-right: 3em;
}

/* -- 12: USER FLOWS IMAGE BANNER -- */

.cs-user-flows-image {
  height: 35vh;
  background-image: url('../images/foodle/diagrams/Diagram-FlowCharts-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 13: USER FLOWS -- */

section.cs-user-flows .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-user-flows .container-paragraph-b {
  padding-right: 3em;
}

section.cs-user-flows .panel-case {
  width: 45em;
}


/* -- 14: CONTENT STRATEGY -- */

section.cs-content-strategy .wrapper {
  padding: 0em 0em;
} /* Section Padding Specifications */

.cs-content-strategy .container-half-b {
  padding: 2em 2em;
}

.cs-content-strategy-image {
  /* xheight: 35vh; */
  background-image: url('../images/foodle/diagrams/Diagram-Moodboard-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 15: SKETCHES WIREFRAMES -- */

section.cs-sketches-wireframes .wrapper {
  padding: 0em 0em;
} /* Section Padding Specifications */

.cs-sketches-wireframes .container-half-a {
  padding: 2em 2em;
}

.cs-sketches-wireframes-image {
  /* xheight: 35vh; */
  background-image: url('../images/foodle/backgrounds/BKG-Sketches-Wireframes-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 16: USABILITY TEST 01 IMAGE BANNER -- */

.cs-usability-test-01-image {
  height: 35vh;
  background-image: url('../images/foodle/backgrounds/BKG-UsabilityTest-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 17: USABILITY TEST 01 -- */

section.cs-usability-test-01 .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */


/* -- 18: BRAND IDENTITY IMAGE BANNER -- */

.cs-brand-identity-image {
  height: 35vh;
  background-image: url('../images/foodle/backgrounds/BKG-BrandIdentity-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 19: BRAND IDENTITY -- */

section.cs-brand-identity .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */


/* -- 20: STYLE GUIDE -- */

section.cs-style-guide .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

/*
.cs-style-guide img {
  height: 380px;
  border: 1px solid black;
}
*/

.cs-style-guide .container-graphic-a {
  display: none;
}

/* -- 21: HIGH FIDELITY MOCKUP IMAGE BANNER -- */

.cs-high-fidelity-mockup-image {
  height: 35vh;
  background-image: url('../images/foodle/backgrounds/BKG-HighFidelityMockups-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 22: HIGH FIDELITY MOCKUP -- */

section.cs-high-fidelity-mockup .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */




/* -- 23: PREFERENCE TESTING -- */

section.cs-preference-testing .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-preference-testing .panel-case {
  padding: 2em 2em;
}

.cs-preference-testing .test-results h3 {
  color: white;
}

.cs-preference-testing img {
  border: 1px solid var(--clr-bkg-panelborder);
}

.test-results {
  background-color: var(--clr-dark-primary);
  padding: .5em;
}

/* -- 24: USABILITY TEST 02 IMAGE BANNER -- */



/* -- 25: USABILITY TEST 02 -- */

section.cs-usability-test-02 .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */


.cs-usability-test-02-image {
  height: 35vh;
  background-image: url('../images/foodle/backgrounds/BKG-UsabilityTest-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 26: DEVELOPER HANDOFF -- */

section.cs-developer-handoff .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-developer-handoff img {
  height: 375px;
  object-fit: contain;
}


/* -- 27: IMAGE BANNER 02 -- */

.cs-section-image-02 {
  height: 20vh;
  background-image: url('../images/foodle/backgrounds/BKG-SectionImage-02-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 28: CONCLUSION -- */

section.cs-conclusion .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */

.cs-conclusion .panel-case {
  padding: 2em 2em;
}

/* ===== PORTFOLIO ===== */

/* -- 00: MAIN / ABOUT ME -- */

section.main-hero .wrapper,
section.about-hero .wrapper {
  height: 53vh;
  padding: 0 5em;
} /* Section Padding Default */

.main-hero .row-01,
.about-hero .row-01 {
  height: 35%;
  /* xbackground-color: rgba(255, 0, 0, .25); */
}

.main-hero .row-02,
.about-hero .row-02 {
  height: 20%;
  /* xbackground-color: rgba(255, 133, 0, .25); */
}

.main-hero .row-03,
.about-hero .row-03 {
  height: 35%;
  /* xbackground-color: rgba(255, 202, 139, .25); */
}

.main-hero .row-04,
.about-hero .row-04 {
  height: 10%;
  /* xbackground-color: rgba(0, 0, 255, .5); */
}

.main-hero img,
.about-hero img {
  height: 50px;
}

/* -- 01: MAIN HERO -- */


.main-hero {
  height: 55vh;
  background-image: url('../images/portfolio/backgrounds/BKG-Gipetto-Hero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid var(--clr-dark-accent);
} /* Main Hero Background Image */


/* -- 02: MAIN PROJECTS -- */

section.main-projects {
  background-color: var(--clr-bkg-offwhite);
}

section.main-projects .wrapper {
  padding: 2em 2em;
} /* Section Padding Default */

section.main-project {
  padding: 2em 2em;
  border: 1px solid var(--clr-bkg-panelborder);
} /* Section Padding Default */

.panel-main {
  width: 25em;
  padding: 2em 2em;
  background-color: rgba(4, 33, 73, .75);
  border: 1px solid var(--clr-bkg-panelborder);
} /* Panel Case-Study Styling */

.main-project-01 {
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%), url('../images/portfolio/backgrounds/BKG-Project-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-project-02 {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%), url('../images/portfolio/backgrounds/BKG-Project-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-project-03 {
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%), url('../images/portfolio/backgrounds/BKG-Project-03-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 03: PAST WORKS -- */

section.main-past-works .wrapper {
  padding: 3em 8em;
} /* Section Padding Default */

.main-past-works {
  background-color: var(--clr-dark-primary);
  border-top: 5px solid var(--clr-dark-accent);
  border-bottom: 5px solid var(--clr-dark-accent);
}

/* -- 04: MAIN GALLERY -- */

.main-gallery-single {
  /* xwidth: 25em; */
  object-fit: contain;
  background-color: red;
  border: 3px solid #BFBFBF
}

.main-gallery-single:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*
.xmain-gallery-single-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.xcontainer:hover .overlay {
  opacity: 1;
}
 */

/* ===== ABOUT ME ===== */

.about-hero {
  height: 55vh;
  background-image: url('../images/portfolio/backgrounds/BKG-AboutMe-Hero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid var(--clr-dark-accent);
}

.about-01 .container-paragraph,
.about-02 .container-paragraph {
  padding: 3em 3em;
}

.about-01-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../images/portfolio/backgrounds/BKG-AboutMe-01-min.jpg')
}

.about-02-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../images/portfolio/backgrounds/BKG-AboutMe-02-min.jpg')
}


/* ===== HEADER/NAVIGATION ===== */

nav a,
.main-hero h1, .main-hero p,
.main-projects h2, .main-projects p,
.main-past-works h1, .main-past-works p,
footer h1, footer p,
.about-hero h1, .about-hero p {
  color: var(--clr-light-text);
}

header {
  background-color: var(--clr-dark-primary);
  border-bottom: 5px solid var(--clr-dark-accent);
}

.nav_logo {
  position: absolute;
  top: 1em;
  margin-left: 1em;
  width: 80px;
  height: 80px;
}

nav {
  text-align: right;
  padding: 1em 0;
  margin-right: 1em;
}

nav a {
  padding: 0 .7em;
}

nav a:hover {
  color: var(--clr-medium-text);
}

nav a:active {
  color: var(--clr-light-accent);
}


/* ===== FOOTER ===== */

footer {
  background-color: var(--clr-dark-primary);
  border-top: 5px solid var(--clr-dark-accent);
}

footer .wrapper {
  padding: 3em 8em;
}

.icon-circle {
  width: 3.2em;
  height: 3.2em;
  margin: 0 1em;
  border-radius: 50%;
  background-color: var(--clr-dark-accent);
}

.icon-circle:hover {
  background-color: var(--clr-light-accent);
}

.icon-circle:active {
  background-color: var(--clr-medium-text);
}

.container-graphic i {
  font-size: 1.5em;
  color: var(--clr-dark-primary);
}


/* ===== BASE FORMATTING ===== */

:root {
  --clr-light-primary: #A1B0C9;
  --clr-medium-primary: #2F496D;
  --clr-dark-primary: #042149;
  --clr-light-accent: #F9C686;
  --clr-dark-accent: #D68A2A;
  --clr-btn-outline: #737373;
  --clr-bkg-white: #FFFFFF;
  --clr-bkg-offwhite: #FAFAFA;
  --clr-bkg-secborder: #E6E6E6;
  --clr-bkg-panel: #F2F2F2;
  --clr-bkg-panelborder: #BFBFBF;
  --clr-bkg-placeholder: #70a7bf;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*
img {
  width: 100%;
} */

.page_container {
  position: relative;
  /* xbackground-color: var(--clr-bkg-white); */
  margin: 0 auto;
  /* xwidth: 50%; */
}

.wrapper {
  position: relative;
  margin: 0 auto;
  /* xwidth: 70%; */
  width: 90%;
  /* xborder: 1px solid DeepPink; */
} /* 90 */

/* ===== TEMPORARY ===== */

.border {
  border: 1px solid MediumVioletRed;
}

.orange {
  background-color: rgba(255, 133, 0, .25);
}

.green {
  background-color: rgba(255, 202, 139, .25);
}

.red {
  background-color: rgba(255, 0, 0, .25);
}

.blue {
  background-color: rgba(0, 0, 255, .5);
}

.hide {
  display: none;
}
