
images/_unoptimized/BKG-BrandIdentity-min.png
images/_unoptimized/BKG-HighFidelityMockups-min.png
images/_unoptimized/BKG-SectionImage-02-min.png
images/_unoptimized/Diagram-FlowCharts-min.png
images/_unoptimized/Diagram-Moodboard-min.png
images/_unoptimized/Diagram-StyleGuide-Group.svg
images/_unoptimized/Icon-01-Discovery.svg
images/_unoptimized/Icon-02-Strategy.svg
images/_unoptimized/Icon-03-Information-Architecture.svg
images/_unoptimized/Icon-04-Visual-Design.svg
images/_unoptimized/Icon-DeveloperHandoff.svg
images/_unoptimized/About Me _ Desktop-min.png
images/_unoptimized/Case Study _ Desktop-min.png
images/_unoptimized/Diagram-Circle-01.svg
images/_unoptimized/Diagram-Circle-02.svg
images/_unoptimized/Diagram-Circle-03.svg
images/_unoptimized/Diagram-Circle-04.svg
images/_unoptimized/Diagram-StyleGuide-01.svg
images/_unoptimized/Diagram-StyleGuide-02.svg
images/_unoptimized/Diagram-StyleGuide-03.svg
images/_unoptimized/Homepage _ Desktop-min.png
images/_unoptimized/Icon-05-Development.svg
images/_unoptimized/Screen-Pref01-A-Dashboard-min.png
images/_unoptimized/Screen-Pref01-B-Dashboard-min.png
images/_unoptimized/Screen-Pref02-A-Weekly-min.png
images/_unoptimized/Screen-Pref02-B-Weekly-min.png
images/_unoptimized/Screen-Pref03-A-Recipe-min.png
images/_unoptimized/Screen-Pref03-B-Recipe-min.png
images/_unoptimized/BKG-SectionImage-01-min.png
images/_unoptimized/.DS_Store
