@charset "UTF-8"; /* CSS Document */


/* == HEADER/NAVIGATION == */

header {
  background-color: var(--clr-dark-primary);
  border-bottom: 5px solid var(--clr-dark-accent);
}

.container-nav {
  position: relative;
}

.nav_logo {
  position: absolute;
  z-index: 10;
}

nav a:hover {
  color: var(--clr-medium-text);
}

nav a:active {
  color: var(--clr-light-accent);
}


/* == PORTFOLIO == */

/* -- 00: MAIN / ABOUT ME -- */

.main-hero .row-01,
.about-hero .row-01 {
  /* background-color: rgba(255, 0, 0, .25); */
}

.main-hero .row-02,
.about-hero .row-02 {
  /* background-color: rgba(255, 133, 0, .25); */
}

.main-hero .row-03,
.about-hero .row-03 {
  /* background-color: rgba(255, 202, 139, .25); */
}

.main-hero .row-04,
.about-hero .row-04 {
  /* background-color: rgba(0, 0, 255, .5); */
}


/* -- 01: MAIN HERO -- */

.main-hero {
  background-image: url('../images/portfolio/backgrounds/BKG-Gipetto-Hero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid var(--clr-dark-accent);
} /* Main Hero Background Image */


/* -- 02: MAIN PROJECTS -- */

section.main-projects {
  background-color: var(--clr-bkg-offwhite);
}

section.main-project {
  border: 1px solid var(--clr-bkg-panelborder);
} /* Section Padding Default */

.main-project-01 {
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%), url('../images/portfolio/backgrounds/BKG-Project-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-project-02 {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%), url('../images/portfolio/backgrounds/BKG-Project-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-project-03 {
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%), url('../images/portfolio/backgrounds/BKG-Project-03-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 03: PAST WORKS -- */

.main-past-works {
  background-color: var(--clr-dark-primary);
  border-top: 5px solid var(--clr-dark-accent);
  border-bottom: 5px solid var(--clr-dark-accent);
}


/* -- 04: MAIN GALLERY -- */

section.main-gallery {
  background-color: var(--clr-medium-primary);
}

.main-gallery-single {
  width: 375px;
  height: 375px;
  border: 2px solid var(--clr-bkg-panelborder);
  object-fit: cover;
}


/* == ABOUT ME == */

.about-hero {
  background-image: url('../images/portfolio/backgrounds/BKG-AboutMe-Hero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* -- 01: ABOUT ME SECTION -- */

.about-01-image {
  background-size: cover;
  background-position: center;
  background-image: url('../images/portfolio/backgrounds/BKG-AboutMe-01-min.jpg')
}


/* -- 02: ABOUT ME SECTION -- */

.about-02-image {
  background-size: cover;
  background-position: center;
  background-image: url('../images/portfolio/backgrounds/BKG-AboutMe-02-min.jpg')
}


/* == FOOTER == */

footer {
  background-color: var(--clr-dark-primary);
}

.icon-circle {
  width: 3.2em;
  height: 3.2em;
  margin: 0 .5em;
  border-radius: 50%;
  background-color: var(--clr-dark-accent);
}

.icon-circle:hover {
  background-color: var(--clr-light-accent);
}

.icon-circle:active {
  background-color: var(--clr-medium-text);
}

.container-graphic i {
  font-size: 1.5em;
  color: var(--clr-dark-primary);
}


/* == CASE STUDY - PROJECT 01 == */

/* -- 01: SYNOPSIS HERO -- */

.cs-synopsis {
  background-image: url('../images/foodle/backgrounds/BKG-Foodle-AppHero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Foodle BKG Hero */

.cs-synopsis-image {
  background-image: url('../images/foodle/backgrounds/BKG-Foodle-AppHero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cs-synopsis svg {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

/* -- 03: OVERVIEW -- */

.cs-overview {
  background-image: url('../images/foodle/backgrounds/BKG-Overview-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 05: IMG BAN 01 -- */

.cs-section-image-01 {
  background-image: url('../images/foodle/backgrounds/BKG-SectionImage-01-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 06: DESIGN PROCESS -- */

.cs-design-process img {
  /* width: 10em; */
} /* Foodle Logo Size */


/* -- 08: COMPETITIVE ANALYSIS -- */

.cs-competitive-analysis img {
  height: 100px;
  object-fit: contain;
}


/* -- 09: USER SURVEY -- */

section.cs-user-survey .wrapper {
  padding: 4em 0em;
} /* Section Padding Specifications */


/* -- 10: USER PERSONAS -- */

.cs-user-personas .persona-name {
  background-color: var(--clr-dark-accent);
}

.cs-user-personas h5 {
  color: white;
  padding-left: .25em;
}


/* -- 12: USER FLOWS IMG BAN -- */

.cs-user-flows-image {
  background-image: url('../images/foodle/diagrams/Diagram-FlowCharts-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 14: CONTENT STRATEGY -- */

.cs-content-strategy-image {
  /* xheight: 35vh; */
  background-image: url('../images/foodle/diagrams/Diagram-Moodboard-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 15: SKETCHES WIREFRAMES -- */

.cs-sketches-wireframes-image {
  background-image: url('../images/foodle/backgrounds/BKG-Sketches-Wireframes-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 16: USABILITY TEST 01 IMG BAN -- */

.cs-usability-test-01-image {
  background-image: url('../images/foodle/backgrounds/BKG-UsabilityTest-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 18: BRAND IDENTITY IMG BAN -- */

.cs-brand-identity-image {
  background-image: url('../images/foodle/backgrounds/BKG-BrandIdentity-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 21: HIGH FIDELITY MOCKUP IMG BAN -- */

.cs-high-fidelity-mockup-image {
  background-image: url('../images/foodle/backgrounds/BKG-HighFidelityMockups-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 23: PREFERENCE TESTING -- */

.cs-preference-testing .panel-option h3,
.cs-preference-testing .panel-results h3 {
  color: white;
}

.cs-preference-testing img {
  border: 1px solid var(--clr-bkg-panelborder);
}

.cs-preference-testing .panel-results {
  background-color: var(--clr-dark-primary);
  padding: .5em;
}


/* -- 24: USABILITY TEST 02 IMG BAN -- */

.cs-usability-test-02-image {
  background-image: url('../images/foodle/backgrounds/BKG-UsabilityTest-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -- 26: DEVELOPER HANDOFF -- */

.cs-developer-handoff img {
  height: 200px;
  object-fit: contain;
}


/* -- 27: IMG BAN 02 -- */

.cs-section-image-02 {
  background-image: url('../images/foodle/backgrounds/BKG-SectionImage-02-min.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* == GLOBAL STYLING == */

:root {
  --clr-light-primary: #A1B0C9;
  --clr-medium-primary: #2F496D;
  --clr-dark-primary: #042149;
  --clr-light-accent: #F9C686;
  --clr-dark-accent: #D68A2A;
  --clr-btn-outline: #737373;
  --clr-bkg-white: #FFFFFF;
  --clr-bkg-offwhite: #FAFAFA;
  --clr-bkg-secborder: #E6E6E6;
  --clr-bkg-panel: #F2F2F2;
  --clr-bkg-panelborder: #BFBFBF;
  --clr-bkg-placeholder: #70a7bf;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* ======== */

.page_container {
  position: relative;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  /* border: 1px solid DeepPink; */
  /* background-color: rgba(255, 133, 0, .20); */
  /* background-color: rgba(255, 202, 139, .20); */
  /* background-color: rgba(255, 0, 0, .20); */
  /* background-color: rgba(0, 0, 255, .25); */
  background-clip: content-box;
}

nav a,
.main-hero h1, .main-hero p,
.main-projects h2, .main-projects p,
.main-past-works h1, .main-past-works p,
.main-gallery a, .about-hero h1, .about-hero p, footer h1, footer p {
  color: var(--clr-light-text);
}


/* == BUTTON PADDING & STYLING == */

.button-01 {
  display: inline-block;
  text-align: center;
  background-color: var(--clr-dark-accent);
  border: 2px solid var(--clr-btn-outline);
  border-radius: 15px;
  color: var(--clr-light-text);
  padding: .75em 0;
  margin: 0 .5em;
  width: 250px;
}

.BacktoTop img {
  width: 60px;
  opacity: .75;
}

#BacktoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  opacity: 0.6;
}


/* == PANEL PADDING & STYLING == */

.panel-case {
  background-color: var(--clr-bkg-panel);
  border: 1px solid var(--clr-bkg-panelborder);
} /* Panel Case-Study Styling */

.panel-bullets {
  padding: 1.5em 1.25em 1.5em 2.25em;
} /* Panel Bullets Padding*/

.panel-main {
  background-color: rgba(4, 33, 73, .75);
  border: 1px solid var(--clr-bkg-panelborder);
} /* Panel Case-Study Styling */


/* == SECTION DIVIDERS == */

.section-divider {
  text-align: center;
  padding: .5em 0;
  background-color: var(--clr-medium-primary);
}


/* == SECTION STYLING == */

section.cs-specification, section.cs-problem-solution, section.cs-project-brief, section.cs-user-survey, section.cs-user-stories, section.cs-content-strategy, section.cs-usability-test-01, section.cs-style-guide, section.cs-preference-testing, section.cs-developer-handoff {
  background-color: var(--clr-bkg-white);
  border: 1px solid var(--clr-bkg-secborder);
} /* White BKG / Grey Outline */

section.cs-design-process, section.cs-competitive-analysis, section.cs-user-personas, section.cs-user-flows, section.cs-sketches-wireframes, section.cs-brand-identity, section.cs-high-fidelity-mockup, section.cs-usability-test-02, section.cs-conclusion {
  background-color: var(--clr-bkg-offwhite);
  border: 1px solid var(--clr-bkg-secborder);
} /* Off-White BKG / Grey Outline */

.cs-section-image-01, .cs-user-flows-image, .cs-content-strategy-image, .cs-sketches-wireframes-image, .cs-usability-test-01-image, .cs-brand-identity-image, .cs-high-fidelity-mockup-image, .cs-usability-test-02-image, .cs-section-image-02 {
  border: 1px solid var(--clr-bkg-secborder);
} /* BORDER ON BANNER IMAGES */


/* == TEMPORARY == */

.border {
  border: 1px solid MediumVioletRed;
}

.orange {
  background-color: rgba(255, 133, 0, .25);
}

.green {
  background-color: rgba(255, 202, 139, .25);
}

.red {
  background-color: rgba(255, 0, 0, .25);
}

.blue {
  background-color: rgba(0, 0, 255, .5);
}

.hide {
  display: none;
}


#more {display: none;}
