@charset "UTF-8";

/* CSS Document */
/* Small devices  */
@media (min-width: 375px) and (max-width: 767px) {

  /* ===== CASE STUDY - PROJECT 01 ===== */

  /* -- 01: SYNOPSIS HERO -- */

  /* -- 02: SPECIFICATION -- */

  /* -- 03: OVERVIEW -- */

  /* -- 04: PROBLEM SOLUTION -- */

  /* -- 05: IMAGE BANNER 01 -- */

  /* -- 06: DESIGN PROCESS -- */

  /* -- 07: PROJECT BRIEF -- */

  /* -- 08: COMPETITIVE ANALYSIS -- */

  /* -- 09: USER SURVEY -- */

  /* -- 10: USER PERSONAS -- */

  /* -- 11: USER STORIES -- */

  /* -- 12: USER FLOWS IMAGE BANNER -- */

  /* -- 13: USER FLOWS -- */

  /* -- 14: CONTENT STRATEGY -- */

  /* -- 15: SKETCHES WIREFRAMES -- */

  /* -- 16: USABILITY TEST 01 IMAGE BANNER -- */

  /* -- 17: USABILITY TEST 01 -- */

  /* -- 18: BRAND IDENTITY IMAGE BANNER -- */

  /* -- 19: BRAND IDENTITY -- */

  /* -- 20: STYLE GUIDE -- */

  /* -- 21: HIGH FIDELITY MOCKUP IMAGE BANNER -- */

  /* -- 22: HIGH FIDELITY MOCKUP -- */

  /* -- 23: PREFERENCE TESTING -- */

  /* -- 24: USABILITY TEST 02 IMAGE BANNER -- */

  /* -- 25: USABILITY TEST 02 -- */

  /* -- 26: DEVELOPER HANDOFF -- */

  /* -- 27: IMAGE BANNER 02 -- */

  /* -- 28: CONCLUSION -- */



  /* ===== PORTFOLIO ===== */

  /* -- 00: MAIN / ABOUT ME -- */

  /* -- 01: MAIN HERO -- */

  /* -- 02: MAIN PROJECTS -- */

  /* -- 03: PAST WORKS -- */

  /* -- 04: MAIN GALLERY -- */



  /* ===== ABOUT ME ===== */

  /* -- 01: ABOUT ME SECTION -- */

  /* -- 02: ABOUT ME SECTION -- */



  /* ===== HEADER/NAVIGATION ===== */

  /* ===== FOOTER ===== */
















  /* === BASE FORMATTING === */

  h1 {
    font-size: 275%;
  }

  h2 {
    font-size: 220%;
  }

  h3 {
    font-size: 155%;
  }

  h4 {
    font-size: 100%;
  }

  p {
    font-size: 140%;
    line-height: 1.5em;
  }

  button {
    width: 100%;
  }

  button span {
    font-size: 175%;
  }

  .page_container {
    width: 100%;
  }

  .inner_padding {
    padding: 2em 1em;
  }

  /*
  .hero_image {
    height: 53vh;
    flex-basis: 100%;
    xborder: 3px solid black;
  }

  .hero_title {
    height: 20vh;
    flex-basis: 100%;
  }

  .hero_title h1 {
    margin-left: .5em;
    margin-bottom: .6em;
  }

  .hero_awards_ctn {
    background-color: var(--clr-light-primary);
  }

  .hero_awards_left {
    display: none;
  }

  .hero_awards_right {
    flex-basis: 100%;
  }

  .hero_awards_deauville svg,
  .hero_awards_tribeca svg {
    width: 5em;
    margin: 1em 1em;
  }

  .info_summary {
    flex-basis: 100%;
    padding-right: 0em;
  }

  .info_summary p {
    font-size: 120%;
    line-height: 1.5;
  }

  .info_specs {
    flex-basis: 100%;
  }

  .tickets_section {
    background-color: var(--clr-light-accent);
    flex-basis: 100%;
  }

  .tickets_summary p {
    margin-bottom: 1em;
  }

  .tickets_search_bar {
    width: 100%;
  }

  .tickets_link button {
    margin-top: 2em;
    text-align: center;
  }

  .tickets_search_button {
    width: 100%;
    margin: 0em 0em;
  }

  .filler_image-01 {
    display: none;
  }

  .filler_image-01 {
    flex-basis: 100%;
    background-image: url(../images/Photo-01.jpg);
    background-repeat: no-repeat;
    background-position: right 50%;
    background-size: 220%;
  }

  .cast_00-box {
    width: 8.8em;
    padding: 1em 1em;
  }

  .cast_02-image img {
    border: .2em solid #0F97A6;
  }

  .reviews_ctn {
    flex: none;
  }

  .reviews_00-box {
    padding: 1em 1em;
    margin: 1em 0;
    vertical-align: center;
  }

  .reviews_header {
    width: 100%;
    flex: none;
    vertical-align: center;
  }

  .reviews_02-rating {
    padding-left: 24em;
    xflex-basis: 100%;
    vertical-align: center;
    padding: 0 0;
    margin: 0 0;
  }

  .reviews-04-quote {
    padding: 1em .5em;
  }

  .reviews-04-quote p {
    font-size: 100%;
    line-height: 1.75;
  }

  .reviews_05-name-title {
    padding: 1em 2em;
    text-align: center;
  }


  .filler_image-03 {
    height: 35vh;
  }

  .awards_deauville svg,
  .awards_tribeca svg {
    width: 8em;
    margin: 1em 1em;
  }

  .copyright p {
    font-size: 120%;
    line-height: 1.25;
    text-align: center;
  }
 */

} /* ##### viewport: small ##### */
