@charset "UTF-8"; /* CSS Document */

/* Medium devices  */
@media (min-width: 768px) and (max-width: 1366px) {

  .content-mobile {
    display: none;
  }

  /* == HEADER/NAVIGATION == */

  .nav-desktop {
    text-align: right;
    padding: 1em 0;
    xmargin-right: 1em;
  }

  .nav-mobile {
    display: none;
  }

  .nav_logo {
    top: 1em;
    margin-left: 1em;
    width: 80px;
    height: 80px;
  }

  nav a {
    padding: 0 .7em;
  }


  /* == PORTFOLIO == */

  /* -- 00: MAIN / ABOUT ME -- */

  section.main-hero .wrapper,
  section.about-hero .wrapper {
    height: 53vh;
    padding: 0 5em;
  } /* Section Padding Default */

  .main-hero .row-01,
  .about-hero .row-01 {
    height: 35%;
  }

  .main-hero .row-02,
  .about-hero .row-02 {
    height: 20%;
  }

  .main-hero .row-03,
  .about-hero .row-03 {
    height: 35%;
  }

  .main-hero .row-04,
  .about-hero .row-04 {
    height: 10%;
  }

  .main-hero img,
  .about-hero img {
    height: 50px;
  }


  /* -- 01: MAIN HERO -- */

  .main-hero, .about-hero {
    height: 55vh;
  } /* Main Hero Background Image */


  /* -- 02: MAIN PROJECTS -- */

  section.main-projects .wrapper {
    padding: 2em 2em;
  } /* Section Padding Default */

  section.main-project {
    padding: 2em 2em;
  } /* Section Padding Default */

  .panel-main {
    width: 25em;
    padding: 2em 2em;
  } /* Panel Case-Study Styling */


  /* -- 03: PAST WORKS -- */

  section.main-past-works .wrapper {
    padding: 3em 8em;
  } /* Section Padding Default */


  /* -- 04: MAIN GALLERY -- */

  /* == ABOUT ME == */

  .about-hero {
    border-bottom: 5px solid var(--clr-dark-accent);
  }

  .about-01 .container-paragraph,
  .about-02 .container-paragraph {
    padding: 3em 3em;
  }


  /* -- 01: ABOUT ME SECTION -- */

  .about-01-image {
    height: 100%;
    width: 100%;
  }


  /* -- 02: ABOUT ME SECTION -- */

  .about-02-image {
    height: 100%;
    width: 100%;
  }


  /* == FOOTER == */

  footer {
    border-top: 5px solid var(--clr-dark-accent);
  }

  footer .wrapper {
    padding: 3em 8em;
  }


  /* == CASE STUDY - PROJECT 01 == */

  /* -- 01: SYNOPSIS HERO -- */

  .cs-synopsis img {
    width: 275px;
  } /* Foodle Logo Size */

  .cs-synopsis {
    height: 55vh;
  } /* Foodle BKG Hero */

  .cs-synopsis .container-half-a,
  .cs-synopsis .container-half-b {
    height: 53vh;
  }

  section.cs-project-brief .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-synopsis .container-half-a,
  .cs-synopsis .container-half-b {
    height: 53vh;
  }


  /* -- 02: SPECIFICATION -- */

  section.cs-specification .wrapper {
    padding: 3em 6em;
  }/* Section Padding Specifications */

  .cs-specification .container-third {
    width: 15em;
  }


  /* -- 03: OVERVIEW -- */

  section.cs-overview .wrapper {
    padding: 4em 10em;
  }/* Section Padding Specifications */

  .cs-overview .inner {
    padding-left: 10em;
  }


  /* -- 04: PROBLEM SOLUTION -- */

  section.cs-problem-solution .wrapper {
    padding: 2em 0;
  }/* Section Padding Specifications */

  .cs-problem, .cs-solution {
    padding: 2em 2em;
  }


  /* -- 06: DESIGN PROCESS -- */

  section.cs-design-process .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-design-process img {
    height: 100px;
  } /* Foodle Logo Size */

  .cs-design-process h4 {
    padding: 2em;
  }


  /* -- 07: PROJECT BRIEF -- */

  section.cs-project-brief .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */


  /* -- 08: COMPETITIVE ANALYSIS -- */

  section.cs-competitive-analysis .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-competitive-analysis .panel-image {
    padding: 1em 0;
    background-color: var(--clr-bkg-white);
    border: 1px solid var(--clr-bkg-panelborder);
  }

  .cs-competitive-analysis h4 {
    padding: .25em 0;
  }

  .cs-competitive-analysis .panel-group {
    width: 37em;
    padding: 1.5em 1.5em;
  }


  /* -- 10: USER PERSONAS -- */

  section.cs-user-personas .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-user-personas .panel-case {
    padding: 2em 2em;
  }


  /* -- 11: USER STORIES -- */

  section.cs-user-stories .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-user-stories .container-paragraph-b {
    padding-right: 3em;
  }


  /* -- 12: USER FLOWS IMG BAN -- */

  .cs-user-flows-image {
    height: 35vh;
  }


  /* -- 13: USER FLOWS -- */

  section.cs-user-flows .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-user-flows .container-paragraph-b {
    padding-right: 3em;
  }

  section.cs-user-flows .panel-case {
    width: 45em;
  }


  /* -- 14: CONTENT STRATEGY -- */

  section.cs-content-strategy .wrapper {
    padding: 0em 0em;
  } /* Section Padding Specifications */

  .cs-content-strategy .container-half-b {
    padding: 2em 2em;
  }

  .cs-content-strategy-image {
    /* xheight: 35vh; */
    background-image: url('../images/foodle/diagrams/Diagram-Moodboard-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  /* -- 15: SKETCHES WIREFRAMES -- */

  section.cs-sketches-wireframes .wrapper {
    padding: 0em 0em;
  } /* Section Padding Specifications */

  .cs-sketches-wireframes .container-half-a {
    padding: 2em 2em;
  }

  .cs-sketches-wireframes-image {
    /* xheight: 35vh; */
    background-image: url('../images/foodle/backgrounds/BKG-Sketches-Wireframes-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  /* -- 16: USABILITY TEST 01 IMG BAN -- */

  .cs-usability-test-01-image {
    height: 35vh;
  }


  /* -- 17: USABILITY TEST 01 -- */

  section.cs-usability-test-01 .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */


  /* -- 18: BRAND IDENTITY IMG BAN -- */

  .cs-brand-identity-image {
    height: 35vh;
  }

  /* -- 19: BRAND IDENTITY -- */

  section.cs-brand-identity .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */


  /* -- 20: STYLE GUIDE -- */

  section.cs-style-guide .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  /*
  .cs-style-guide img {
    height: 380px;
    border: 1px solid black;
  }
  */

  .cs-style-guide .container-graphic-a {
    display: none;
  }


  /* -- 21: HIGH FIDELITY MOCKUP IMG BAN -- */

  .cs-high-fidelity-mockup-image {
    height: 35vh;
  }


  /* -- 22: HIGH FIDELITY MOCKUP -- */

  section.cs-high-fidelity-mockup .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */


  /* -- 23: PREFERENCE TESTING -- */

  section.cs-preference-testing .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-preference-testing .panel-case {
    padding: 2em 2em;
  }


  /* -- 24: USABILITY TEST 02 IMG BAN -- */

  .cs-usability-test-02-image {
    height: 35vh;
  }


  /* -- 25: USABILITY TEST 02 -- */

  section.cs-usability-test-02 .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */


  /* -- 26: DEVELOPER HANDOFF -- */

  section.cs-developer-handoff .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-developer-handoff img {
    height: 375px;
    object-fit: contain;
  }


  /* -- 27: IMG BAN 02 -- */

  .cs-section-image-02 {
    height: 20vh;
  }


  /* -- 28: CONCLUSION -- */

  section.cs-conclusion .wrapper {
    padding: 4em 0em;
  } /* Section Padding Specifications */

  .cs-conclusion .panel-case {
    padding: 2em 2em;
  }


  /* == GLOBAL STYLING == */

  .wrapper {
    xposition: relative;
    xmargin: 0 auto;
    width: 90%;
    xborder: 1px solid DeepPink;
  }

  .paragraph-01 {
    font-size: 1.44em;
    color: blue;
  }

  .paragraph-02 {
    font-size: 1.2em;
    line-height: 1.5;
  }

} /* ##### viewport: medium ##### */
