@charset "UTF-8"; /* CSS Document */

.object-fit {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* ===== GENERAL/COMMON ===== */

/* -- GO TO TOP ASSIST -- */

.goTop {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 1000px;
}


.sec-bkg-03 {
  background-color: var(--clr-bkg-placeholder);
} /* Temp Image Placeholder */
