@charset "UTF-8"; /* CSS Document */

/* === GO TO TOP ASSIST === */

.goTop {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 1000px;
}

/* === HEADER/NAVIGATION === */

header {
  position: relative;
  padding: 0 2em;
  background-color: var(--clr-dark-primary);
  border-bottom: 5px solid var(--clr-dark-accent);
}

.nav_logo {
  position: absolute;
  top: .5em;
  width: 80px;
}

nav {
  text-align: right;
  padding: 1em 0;
}

nav a {
  padding: 0 .7em;
  color: var(--clr-light-text);
}

nav a:hover {
  color: var(--clr-medium-text);
}

nav a:active {
  color: var(--clr-dark-text);
}

/* === MAIN HEADLINE SECTION === */

.main-category {
  background-color: var(--clr-dark-primary);
  border-top: 5px solid var(--clr-dark-accent);
  border-bottom: 5px solid var(--clr-dark-accent);
}

.main-category h1, .main-category p {
  color: var(--clr-light-text);
}

/* === FOOTER === */

footer h1, footer p, .copyright {
  color: var(--clr-light-text);
}

.icon-circle {
  width: 3.2em;
  height: 3.2em;
  margin: 0 1em;
  border-radius: 50%;
  background-color: var(--clr-dark-accent);
}

.icon-circle:hover {
  background-color: var(--clr-light-accent);
}

.icon-circle:active {
  background-color: var(--clr-medium-text);
}

.social-icons i {
  font-size: 1.5em;
  color: var(--clr-dark-primary);
}

footer {
  background-color: var(--clr-dark-primary);
  border-top: 5px solid var(--clr-dark-accent);
}




/* === SECTION 02: SYNOPSIS HERO === */

.case-study-synopsis .inner {
  padding: 0 4em;
} /* Section Hero Padding */

.case-study-synopsis {
  height: 55vh;
} /* Hero Viewport */

.case-study-synopsis svg {
  width: 200px;
} /* Foodle Image Size */

.case-study-synopsis .row-01,
.case-study-synopsis .row-03 {
  text-align: center;
}

.case-study-synopsis .row-02 {
  margin: 2em 0;
}




/* === SECTION 03: SPECIFICATION === */



.case-study-specification .inner {
  margin: 0 4em;
}

.case-study-specification .row-02 {
  margin-top: .7em;
}


/* === SECTION 04: OVERVIEW === */

.case-study-overview .inner {
  padding-left: 10em;
}




/* === SECTION 05: PROBLEM SOLUTION === */



.case-study-problem,
.case-study-solution {
  margin: 0 1em;
}

.case-study-problem-solution .panel {
  padding: 4em 4em;
}

/* === SECTION 06: BANNER IMAGE === */




/* === SECTION 07: DESIGN PROCESS === */



.case-study-design-process .paragraph-02 {
  margin: 0 auto;
  width: 85%;
  margin-bottom: 1.5em;
}

.case-study-design-process .row-01 {
  text-align: center;
  padding: 1.5em 0;
}

.case-study-design-process .row-02 {
  height: 4em;
  text-align: center;
  margin: .5em 0;
}

.case-study-design-process .container-fifth {
  margin: 0 1em;
}

.case-study-design-process .inner {
  padding: 1em 1em;
  background-color: green;
}

.panel-image {
  xpadding: 2em 2em;
  xbackground-color: red;
  xborder: 1px solid #E6E6E6;
  xborder: 1px solid black;
}


/* === SECTION 08: PROJECT BRIEF === */

.case-study-project-brief .button-row {
  margin-top: 2em;
}


/* === SECTION 09: COMPETITIVE ANALYSIS === */

.case-study-competitive-analysis .panel {
  margin: 2em 0;
}

.case-study-competitive-analysis .panel-image {
  width: 50%;
}

.case-study-competitive-analysis .panel {
  width: 70%;
  xmargin: 0 auto;
}

.case-study-competitive-analysis .button-row {
  margin: 2em 0em;
}

.xxcase-study-project-brief h4 {
  padding-bottom: .3em;
  border-bottom: 2px solid #1A1A1A;
  xbackground-color: red;
}

/* === SECTION 10: USER SURVEY === */

.case-study-user-survey-panels {
  margin: 2em 0;
}

.case-study-user-survey-graph {
  margin: 4em 0;
}

.case-study-user-survey .button-row {
  margin: 2em 1em;
}

.case-study-user-survey .button-01 {
  margin: 0 1em;
}

/* === SECTION 11: USER PERSONAS === */

.case-study-user-personas .button-row {
  xmargin: 2em 1em;
  background-color: green;
}

.case-study-user-personas .button-01 {
  xmargin: 0 1em;
}

/* === SECTION 12: USER STORIES === */

/* === SECTION 13: IMAGE BANNER === */

/* === SECTION 14: USER FLOWS === */

/* === SECTION 15: CONTENT STRATEGY === */

/* === SECTION 16: SKETCHES WIREFRAMES === */

/* === SECTION 17: USABILITY TEST 01 === */

/* === SECTION 18: BRAND IDENTITY === */

/* === SECTION 19: STYLE GUIDE === */

/* === SECTION 20: HIGH FIDELITY MOCKUP === */

/* === SECTION 21: DEVELOPER HANDOFF === */

/* === SECTION 22: IMAGE BANNER === */

/* === SECTION 23: CONCLUSION === */
