@charset "UTF-8"; /* CSS Document */


/*  Compiled List of CSS Styles for Portfolio Main / About Me / Case Study Pages  */
/* Updated April 18, 2020 */

/* ##### TYPOGRAPHY.CSS ##### */

/* ============================= */
/* ++++++++ TYPOGRAPHY +++++++++ */
/* ============================= */

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
  font-size: 100%;
} /* 16px */

h1, h2, h3, h4, p, a, li, button {
  color: #1A1A1A;
}

/* ======== */

h1 {
  /* font-size: 4.3em; */
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
} /* 68.80px */ /* Desk-H-01 | Hero-Head */

h2 {
  /* font-size: 3.583em; */
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
} /* 57.33px */ /* Desk-H-02 | Section-Head */

h3 {
  /* font-size: 1.728em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
} /* 27.65px */ /* Desk-H-03 | SubHead */

h4 {
  /* font-size: 1.2em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
} /* 19.20px */ /* Desk-H-04 | Panel-Head */

h5 {
  /* font-size: 2.074em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
} /* 33.18px */ /* Desk-H-05 | Persona-Name */

/* ======== */

.paragraph-01  {
  /* font-size: 1.44em; */
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: .5em;
} /* 23.04px */ /* Desk-P-01 | Hero-Landing */

.paragraph-02 {
  /* font-size: 1.2em; */
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 1em;
} /* 19.20px */ /* Desk-P-02 | Main-Body */

.paragraph-03 {
  /* font-size: 1em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
} /* 16px */

.paragraph-04 {
  /* font-size: 1.2em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;

} /* 19.20px */ /* Desk-P-04 | Panel-Small */

.paragraph-05 {
  /* font-size: 1.2em; */
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
} /* 19.20px */

.p-last {
  margin-bottom: 0;
}

/* ======== */

.process span {
  /* font-size: 1em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.process {
  /* font-size: 1em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
} /* 16px */

.copyright {
  /* font-size: 1.2em; */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
} /* 19.20px */ /* Desk-P-06 | Copyright */

/* ======== */

a {
  /* font-size: 1.2em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-decoration: none;
} /* 19.20px */ /* Desk-Mobi-A-01 | Button */

.list-items-01 {
  /* font-size: 1.2em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
} /* 19.20px */ /* Desk-Li-01 | Specs */

.list-items-02 {
  /* font-size: 1.2em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  list-style: disc outside none;
} /* 19.20px */ /* Desk-Li-02 | Panel */

.list-items-03 {
  /* font-size: 1.2em; */
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
} /* 19.20px */ /* Desk-Li-01 | Specs */

li span {
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
}

li:last-of-type {
  margin-bottom: 0;
}

li {
  margin-bottom: .5em;
}

ol {
  padding-left: 1em;
}


/* ============================= */
/* ++++++ TYPE VARIABLES +++++++ */
/* ============================= */

.sans-serif {
  font-family: 'Source Sans Pro', sans-serif;
}

.txt-ctr {
  text-align: center;
}

.txt-rt {
  text-align: right;
}

.u-line {
  width: 70%;
  margin-bottom: .3em;
  border-bottom: 1px solid #1A1A1A;
}

.u-case {
  text-transform: uppercase;
}

.sec-head {
  text-align: center;
  margin-bottom: 1.5em;
}

.set-solid {
  line-height: 1;
}

.emphasis {
  font-size: 1.44rem;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 700;
}

.disabled {
  color: #888888;
}

.viewport p, .orientation p {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.03em;
  color: white;
}


/* ##### LAYOUT.CSS ##### */

/* ============================= */
/* ++++ CONTAINER VARIABLES ++++ */
/* ============================= */

.container-full {
  width: 100%;
}

.container-half {
  width: 50%;
}

.container-third {
  width: 33.33%;
}

.container-quarter {
  width: 25%;
}

.container-fifth {
  width: 20%;
}


/* ============================= */
/* +++++++ MARGIN NUDGES +++++++ */
/* ============================= */

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-15em {
  margin-top: 1.5em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-top-3em {
  margin-top: 3em;
}

.margin-top-4em {
  margin-top: 4em;
}

.margin-btm-05em {
  margin-bottom: .5em;
}

.margin-btm-1em {
  margin-bottom: 1em;
}

.margin-btm-15em {
  margin-bottom: 1.5em;
}

.margin-btm-2em {
  margin-bottom: 2em;
}

.margin-btm-3em {
  margin-bottom: 3em;
}

.margin-btm-4em {
  margin-bottom: 4em;
}

.margin-tb-1em {
  margin: 1em 0;
}

.margin-tb-2em {
  margin: 2em 0;
}

.margin-tb-3em {
  margin: 3em 0;
}

.margin-tb-4em {
  margin: 4em 0;
}

.margin-lr-05em {
  margin: 0 .5em;
}

.margin-lr-1em {
  margin: 0 1em;
}

.margin-lr-3em {
  margin: 0 3em;
}

.margin-in-lf-1em {
  margin-right: 1em;
} /* Inside Left Column */

.margin-in-rt-1em {
  margin-left: 1em;
} /* Inside Right Column */

.margin-in-lf-15em {
  margin-right: 1.5em;
} /* Inside Left Column */

.margin-in-rt-15em {
  margin-left: 1.5em;
} /* Inside Right Column */

.margin-in-lf-2em {
  margin-right: 2em;
} /* Inside Left Column */

.margin-in-rt-2em {
  margin-left: 2em;
} /* Inside Right Column */


/* ============================= */
/* ++++++ FLEX FORMATTING ++++++ */
/* ============================= */

.flex {
  display: flex;
}

.fx-column {
  flex-direction: column;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-ctr {
  justify-content: center;
}

.fx-v-ctr {
  align-items: center;
}

.fx-ctr-ctr {
  align-items: center;
  justify-content: center;
}

.fx-ctr-btm {
  align-items: flex-end;
  justify-content: center;
}

.fx-btm {
  align-items: flex-end;
}

.fx-rt {
  justify-content: flex-end;
}

.fx-rt-ctr {
  align-items: center;
  justify-content: flex-end;
}

.fx-space-between {
  justify-content: space-between;
}


/* ##### MAIN.CSS ##### */

/* ============================= */
/* +++++ HEADER/NAVIGATION +++++ */
/* ============================= */

header {
  background-color: #042149;
  border-bottom: 5px solid #D68A2A;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.35);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

header .box-padding {
  padding: 0 1em;
}

.container-nav {
  position: relative;
}

.nav_logo {
  position: absolute;
  z-index: 10;
}

nav a:hover {
  color: #888888;
}

nav a:active {
  color: #F9C686;
}


/* ============================= */
/* ++++++++++ FOOTER +++++++++++ */
/* ============================= */

footer {
  background-color: #042149;
}

.icon-circle {
  background-color: #D68A2A;
  border-radius: 50%;
  height: 3.2em;
  margin: 0 .5em;
  width: 3.2em;
}

.icon-circle:hover {
  background-color: #F9C686;
}

.icon-circle:active {
  background-color: #888888;
}

.container-image i {
  color: #042149;
}


/* ============================= */
/* ++++++ PORTFOLIO: MAIN ++++++ */
/* ============================= */

/* -- 01: MAIN HERO -- */

.main-hero {
  background-image: url('../images/portfolio/backgrounds/BKG-Gipetto-Hero-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #D68A2A;
} /* Desktop/Mobile */

.main-hero {
  width: 100%;
}


/* -- 02: MAIN PROJECTS -- */

.main-projects {
  background-color: #FAFAFA;
}

.main-project {
  border: 1px solid #BFBFBF;
} /* Section Padding Default */

.main-project.one {
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.6) 100%), url('../images/portfolio/mockups/Mockup-Project-01-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} /* Desktop */

.main-project.two {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.6) 100%), url('../images/portfolio/mockups/Mockup-Project-02-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} /* Desktop */

.main-project.three {
  background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.6) 100%), url('../images/portfolio/mockups/Mockup-Project-03-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} /* Desktop */


/* -- 03: PAST WORKS -- */

.main-past-works {
  background-color: #2F496D;
  border-top: 5px solid #D68A2A;
  border-bottom: 5px solid #D68A2A;
}

.main-past-works .container-paragraph {
  text-align: center;
}


/* -- 04: MAIN GALLERY -- */

.main-gallery {
  background-color: #2F496D;
}

.main-gallery a {
  line-height: initial;
  text-transform: initial;
}

.main-gallery .overlay {
  align-items: center;
  background-color: rgba(4, 33, 73, .85);
  bottom: 0;
  display: flex;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: .3s ease;
  width: 100%;
}

.text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.main-gallery .description {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: white;
}

.main-gallery .skill {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.main-gallery .container-image:hover .overlay {
  height: 25%;
  border-top: 1px solid #666;
}

.main-gallery .container-image {
  position: relative;
  border: 3px solid #BFBFBF;
}

.main-gallery-image.one {
  background-image: url('../images/portfolio/gallery/Gallery-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.two {
  background-image: url('../images/portfolio/gallery/Gallery-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.three {
  background-image: url('../images/portfolio/gallery/Gallery-03-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.four {
  background-image: url('../images/portfolio/gallery/Gallery-04-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.five {
  background-image: url('../images/portfolio/gallery/Gallery-05-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.six {
  background-image: url('../images/portfolio/gallery/Gallery-06-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.seven {
  background-image: url('../images/portfolio/gallery/Gallery-07-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.eight {
  background-image: url('../images/portfolio/gallery/Gallery-08-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.nine {
  background-image: url('../images/portfolio/gallery/Gallery-09-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-gallery-image.ten {
  background-image: url('../images/portfolio/gallery/Gallery-10-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* ============================= */
/* ++++ PORTFOLIO: ABOUT ME ++++ */
/* ============================= */

/* -- 01: ABOUT ME HERO -- */

.about-hero {
  background: url('../images/portfolio/backgrounds/BKG-AboutMe-Hero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */

.about-hero .container-graphic {
  width: 100%;
}


/* -- 02: ABOUT ME 01 -- */

.about-01-image {
  background: url('../images/portfolio/backgrounds/BKG-AboutMe-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */

.aboutarea-01 .container-component.two {
  background-color: white;
}


/* -- 03: ABOUT ME 02 -- */

.about-02-image {
  background: url('../images/portfolio/backgrounds/BKG-AboutMe-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */

.aboutarea-02 .container-component.two {
  background-color: white;
}


/* ============================= */
/* ++++++++ CONTACT ME +++++++++ */
/* ============================= */

.contact-form .panel-heading h2,
.contact-form .panel-paragraph p,
.contact-form .panel-component span {
  color: white;
}

.contact-form .label-heading {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
}

button {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 0;
}

.contact-form {
  background-image: url('../images/portfolio/backgrounds/BKG-ContactMe-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



/* ============================= */
/* ++ CASE STUDY - PROJECT 01 ++ */
/* ============================= */

/* -- 01: SYNOPSIS HERO -- */

.cs-synopsis {
  background-image: url('../images/foodle/mockups/Mockup-Foodle-AppHero-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop */

.cs-synopsis svg {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}


/* -- 03: OVERVIEW -- */

.cs-overview {
  background-image: url('../images/foodle/backgrounds/BKG-Overview-01x70-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop */


/* -- 05: IMG BAN 01 -- */

.cs-section-image-01 {
  background-image: url('../images/foodle/mockups/Mockup-SectionImage-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 06: DESIGN PROCESS -- */
/* -- 08: COMPETITIVE ANALYSIS -- */

.cs-competitive-analysis img {
  height: 6.25em;
  object-fit: contain;
}


/* -- 09: USER SURVEY -- */
/* -- 10: USER PERSONAS -- */

.cs-user-personas .persona-name {
  background-color: #D68A2A;
}

.cs-user-personas h5 {
  color: white;
  padding-left: .25em;
}


/* -- 12: USER FLOWS IMG BAN -- */

.cs-user-flows-image {
  background-image: url('../images/foodle/diagrams/Diagram-FlowCharts-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 14: CONTENT STRATEGY -- */

.cs-content-strategy-image {
  background-image: url('../images/foodle/diagrams/Diagram-Moodboard-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 15: SKETCHES WIREFRAMES -- */

.cs-sketches-wireframes-image {
  background-image: url('../images/foodle/backgrounds/BKG-Sketches-Wireframes-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 16: USABILITY TEST 01 IMG BAN -- */

.cs-usability-test-01-image {
  background-image: url('../images/foodle/backgrounds/BKG-UsabilityTest-01-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 18: BRAND IDENTITY IMG BAN -- */

.cs-brand-identity-image {
  background-image: url('../images/foodle/backgrounds/BKG-BrandIdentity-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 21: HIGH FIDELITY MOCKUP IMG BAN -- */

.cs-high-fidelity-mockup-image {
  background-image: url('../images/foodle/backgrounds/BKG-HighFidelityMockups-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 23: PREFERENCE TESTING -- */

.cs-preference-testing .panel-option h3,
.cs-preference-testing .panel-results h3 {
  color: white;
}

.cs-preference-testing img {
  border: 1px solid #BFBFBF;
}

.cs-preference-testing .panel-results {
  background-color: #042149;
  padding: .5em;
}


/* -- 24: USABILITY TEST 02 IMG BAN -- */

.cs-usability-test-02-image {
  background-image: url('../images/foodle/backgrounds/BKG-UsabilityTest-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* -- 27: IMG BAN 02 -- */

.cs-section-image-02 {
  background-image: url('../images/foodle/backgrounds/BKG-SectionImage-02-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} /* Desktop/Mobile */


/* ============================= */
/* +++++++ GLOBAL STYLING ++++++ */
/* ============================= */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* -webkit-text-size-adjust: 100%; */
}

main {
  margin-top: 3.45em;
  position: relative;
}

body {
  background: url('../images/portfolio/backgrounds/BKG-Noise-500x500x45-min.png') repeat 0 0, linear-gradient(93deg, rgba(51,51,51,1) 0%, rgba(17,17,17,1) 40%, rgba(17,17,17,1) 60%, rgba(51,51,51,1) 100%);
}

img {
  width: 100%;
}

/* ======== */

.page-container {
  position: relative;
  margin: 0 auto;
}

.wrapper, .wrapper-padding, .box-padding {
  margin: 0 auto;
  /* border: 1px solid DeepPink; */
  /* border: 1px solid Beige; */
  /* background-color: rgba(255, 133, 0, .25); */
  /* background-color: rgba(255, 202, 139, .15); */
  /* background-color: rgba(255, 0, 0, .15); */
  /* background-color: rgba(0, 0, 255, .15); */
  background-clip: content-box;
}


/* ============================= */
/* + BUTTON PADDING & STYLING ++ */
/* ============================= */

.button-01 {
  display: block;
  text-align: center;
  line-height: 1;
  background-color: #D68A2A;
  border: 2px solid #737373;
  border-radius: .75em;
  color: #FFFFFF;
}

.btn-disabled {
  background-color: #888888;
  border: 2px solid #737373;
}

.BacktoTop img {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.35);
  border-radius: 50%;
}

/*
#CaseStudyMenu {
  display: none;
  position: fixed;
  bottom: 3.75em;
  right: .75em;
  z-index: 20;
  opacity: 0.8;
}
*/

.image-border {
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
}


/* ============================= */
/* ++ PANEL PADDING & STYLING ++ */
/* ============================= */

.panel-case {
  background-color: #F2F2F2;
  border: 1px solid #BFBFBF;
} /* Panel Case-Study Styling */

.panel-main {
  background-color: rgba(4, 33, 73, .75);
  border: 1px solid #BFBFBF;
} /* Panel Case-Study Styling */


/* ============================= */
/* ++++++ SECTION DIVIDERS +++++ */
/* ============================= */

.section-divider {
  text-align: center;
  padding: .75em 0;
  background-color: #2F496D;
}


/* ============================= */
/* +++++++ GROUP STYLING +++++++ */
/* ============================= */

section.cs-specification, section.cs-problem-solution, section.cs-project-brief, section.cs-user-survey, section.cs-user-stories, section.cs-content-strategy, section.cs-usability-test-01, section.cs-style-guide, section.cs-preference-testing, section.cs-developer-handoff {
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
} /* White BKG / Grey Outline */

section.cs-design-process, section.cs-competitive-analysis, section.cs-user-personas, section.cs-user-flows, section.cs-sketches-wireframes, section.cs-brand-identity, section.cs-high-fidelity-mockup, section.cs-usability-test-02, section.cs-conclusion {
  background-color: #FAFAFA;
  border: 1px solid #E6E6E6;
} /* Off-White BKG / Grey Outline */

.cs-section-image-01, .cs-user-flows-image, .cs-content-strategy-image, .cs-sketches-wireframes-image, .cs-usability-test-01-image, .cs-brand-identity-image, .cs-high-fidelity-mockup-image, .cs-usability-test-02-image, .cs-section-image-02 {
  border: 1px solid #E6E6E6;
} /* BORDER ON BANNER IMAGES */

nav a,
.main-hero h1, .main-hero p,
.main-projects h2, .main-projects p,
.main-past-works h1, .main-past-works p,
.main-gallery a, .about-hero h1, .about-hero p, footer h1, footer p {
  color: #FFFFFF;
}


/* ============================= */
/* +++++++++ TEMPORARY +++++++++ */
/* ============================= */

.border {
  border: 1px solid MediumVioletRed;
  /* border: 1px solid CadetBlue; */
}

.orange {
  background-color: rgba(255, 133, 0, .25);
}

.green {
  background-color: rgba(255, 202, 139, .25);
}

.red {
  background-color: rgba(255, 0, 0, .25);
}

.blue {
  background-color: rgba(0, 0, 255, .5);
}

.row-01 {
  background-color: rgba(255, 0, 0, .25);
}

.row-02 {
  background-color: rgba(255, 133, 0, .25);
}

.row-03 {
  background-color: rgba(255, 202, 139, .25);
}

.row-04 {
  background-color: rgba(0, 0, 255, .5);
}

.overflow {
  overflow: hidden;
}

.hide {
  display: none;
}

.focus {
  display: block;
}


/* ============================= */
/* +++++++++++++++++++++++++++++ */
/* ++++++++++ TESTING ++++++++++ */
/* +++++++++++++++++++++++++++++ */
/* COMMON ====================== */

.helpers {
  position: relative;
}

.indicator {
  z-index: 25;
  position: fixed;
  height: 2em;
  width: 7em;
  padding: .25em 0;
  text-align: center;
}

.viewport {
  margin-top: 3em;
}

.orientation {
  margin-top: 5em;
}
