@charset "UTF-8"; /* CSS Document */

/*
font-family: 'Roboto Slab', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

.original {
  color: blue;
  background-color: orange;
}

.modified {
  color: red;
  background-color: green;
}

/*  ===============  */

h1 {
  font-size: 4.3rem; /* 68.80px */
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  xletter-spacing: 0.3em;
  text-transform: uppercase;
}

.h1-variable {
  font-size: 4.3rem; /* 68.80px */
  font-family: 'Oswald', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-H-01 | Hero-Head  */

/*  ===============  */

h2 {
  font-size: 3.583rem; /* 57.33px */
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  xline-height: 1em;
  xmargin-bottom: .25em;
  xletter-spacing: -0.05em;
  text-transform: uppercase;
}

.h2-variable {
  font-size: 3.583rem; /* 57.33px */
  font-family: 'Oswald', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-H-02 | Section-Head  */

/*  ===============  */

h3 {
  xposition: relative;
  font-size: 2.074rem ; /* 33.18px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  xmargin-bottom: .5em;
  xline-height: 1;
  xwidth: 60%;
  xborder-bottom: 1px solid black;
}

.h3-variable {
  font-size: 5.16rem; /* 82.56px */
  font-family: 'Oswald', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
}

/*  ===============  */

h4 {
  font-size: 1.44rem; /* 23.04px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  xline-height: 1;
  xtext-transform: uppercase;
}

.h4-variable {
  font-size: 5.16rem; /* 82.56px */
  font-family: 'Oswald', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
}

/*  ===============  */

p.paragraph-01 {
  font-size: 1.728rem; /* 27.65px */
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.25;
  xcolor: white;
}

.p-paragraph-01-variable {
  font-size: 1.728rem; /* 27.65px */
  font-family: 'Roboto Slab', serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-01 | Hero-Landing  */

p.paragraph-02 {
  font-size: 1.728rem; /* 27.65px */
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.35;
  xmargin-bottom: 1em;
}

.p-paragraph-02-variable {
  font-size: 1.728rem; /* 27.65px */
  font-family: 'Roboto Slab', serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

p.paragraph-03 {
  font-size: 1rem; /* 16px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.5;
}

.p-paragraph-03-variable {
  font-size: 1rem; /* 16px */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
  color: red;
  background-color: green;
} /*  Desk-P-02 | Main-Body  */

p.paragraph-04 {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.5;
}

.p-paragraph-04-variable {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

p.paragraph-05 {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.5;
}

.p-paragraph-05-variable {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Roboto Slab', serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

/*  ===============  */

.category {
  font-size: 1.44rem; /* 23.04px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.5;
  xtext-transform: uppercase;
  xcolor: white;
}

.p-category-variable {
  font-size: 1.44rem; /* 23.04px */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

.category span {
  font-size: 1.44rem; /* 23.04px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  xline-height: 1.5;
  xtext-transform: uppercase;
}

.copyright {
  font-size: 1.44rem; /* 23.04px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  xline-height: 1.5;
  xtext-transform: uppercase;
  xcolor: white;
}

.p-category-variable {
  font-size: 1.44rem; /* 23.04px */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

/*  ===============  */

/*
a {
  font-size: 1.2rem; /* 19.20x */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
*/
.a-variable {
  font-size: 1.2rem; /* 19.20x */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-07 | Main-Navigation  */

/*  ===============  */

ul.list-items-01 {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  xline-height: 1.75;
  xcolor: blue;
}

.ul-list-items-01-variable {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

ul.list-items-02 {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  xline-height: 1.5;
  xcolor: #FF0000;
}

.ul-list-items-02-variable {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-variation-settings: 'wdth' 10, 'wght' 500;
} /*  Desk-P-02 | Main-Body  */

/*  ===============  */

button {
  font-size: 1.2rem; /* 19.20px */
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  xtext-transform: uppercase;
}
